<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script
      src="https://kit.fontawesome.com/acbbc5039b.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <title>Sci-Fi Asset DB</title>
  </head>
  <body>
    <main id="sci-fi-asset-db">
      <h1>Sci-Fi Asset DB</h1>
      <hr />
      <section v-if="db">
        <strong>Tags: </strong>
        <div
          class="chip"
          v-bind:class="{selected: isSelected(tag)}"
          v-for="tag in tags"
          v-on:click="selectTag(tag)"
        >
          {{tag}}
        </div>
      </section>
      <section v-if="db">
        <article v-for="artist in filteredArtists">
          <h3>{{artist.name}}</h3>
          <strong>Does: </strong>
          <ul class="fields">
            <li v-for="tag in artist.tags">{{tag}}</li>
          </ul>
          <ul>
            <li v-for="site in artist.sites">
              <i class="fas fa-globe"></i>
              <a :href="site.url" target="_blank" rel="noopener noreferrer"
                >{{site.name}}</a
              >
            </li>
          </ul>
          <hr />
        </article>
      </section>
    </main>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
