html {
  font-family: arial, helvetica, courier;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  margin: auto;
  width: 80%;
}

article {
  margin: auto;
  width: 80%;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  cursor: pointer;
}
a:hover {
  text-shadow: 0.2rem 0.2rem 0.8rem steelblue;
}

.fields {
  display: inline;
  padding: 0rem;
}

.fields li {
  display: inline;
}

.fields :not(:last-child):after {
  content: ", ";
}

.chip {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0 1.5rem;
  height: 5rem;
  font-size: 1.6rem;
  line-height: 5rem;
  border-radius: 2.5rem;
  background-color: #f1f1f1;
}
.selected {
  background-color: rgba(70, 131, 180, 0.411);
}
